form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  padding: 2rem;
  width: 60%;
  background-color: #dddddd;

}
input{
  height: 4.5vh;
  width: 44vw;
  margin-bottom: 2rem;

}
input::placeholder{
  font-size: 1.8rem;

}
textarea{
  margin-bottom: 2rem;

}
label{
  font-size: 2.2rem;
}
#botao{
  background-color: #fff;
  font-size: 2.5rem;
  height: 7vh;
  margin-top: 1rem;
  border: 0.1rem solid gray;
}
