header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    box-shadow: 0px 0px 3px black;
    margin-bottom: 3rem;

}
header div{
    display: flex;
    align-items: center;

}
header a{
    font-size: 3rem;
    font-family: 'Gideon Roman', 'cursive';
    font-weight: bolder;
    color: #0052A5;
}
header div .icon-header{
    padding: 0rem 0.5rem;

}
header div .icon-header:hover{
    color:rgba(0, 183, 255, 0.979) ;

}
header div img{
    min-width: 120px;
    padding: 0rem 0.5rem;
    object-fit: cover;
    height: 9vh;
    width: 13.23vw;
}
/* CONTEUDO */

.caixa-noticias{
  padding: 2.5rem 0rem;
  border-bottom: 0.1rem #666 solid;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.caixa-noticias h1{
  width: 250px;
  font-size: 3rem;
  color: black;
}
.caixa-noticias img{
  width: 350px;

}


/* FOOTER */
footer{
    font-size: 1.5rem;
    font-family: 'Lato',Georgia;
    background-color: #3A3C41;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer section{
    display: flex;
    padding:2.5rem 0rem;
}
footer section div{
    display: flex;

}
footer section aside{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    border-right: 0.1rem solid #666;

}
footer section aside article{
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 2rem;

}
footer section aside a{
    padding: 1.2rem 14rem 1.2rem 0rem;
    text-align: justify;
    color: #888;

}
footer img{
   padding-right: 1rem;
   margin: auto 0;
   width: 8.8vw;
}
