
#noticia{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}
#noticia article{
  width: 100%;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
#noticia h1{
  width: 100%;
  font-size: 4rem

}
#noticia img{
  width: 100%;
}
#noticia p{
  text-align: justify;
  word-spacing: 0.5rem;
  line-height: 2.1rem;
  font-size: 2.1rem;
}
