@media (max-width:900px) {
  html{
    font-size: 55%;
  }

}
@media (max-width:768px) {
  html{
    font-size: 50%;
  }
  .container{
    width: 100%;
  }
  footer section{
    flex-direction: column;
    align-items: center;

  }
  footer section aside{
    min-width: 250px;
    border-left: 0.1rem #666 solid;

  }

}
@media (max-width:550px) {
  html{
    font-size: 45%;
  }
  footer section aside{
    min-width: 210px;


  }



}
@media (max-width:320px) {
  html{
    font-size: 40%;
  }

}
