@media (max-width:900px) {
  html{
    font-size: 55%;
  }

}
@media (max-width:768px) {
  html{
    font-size: 50%;
  }
  .container{
    width: 100%;
  }
  .caixa-noticias{
    width: 90%;
  }
  footer section div{
   flex-direction: column;
  }
  footer section aside{
    border-left: 0.1rem #666 solid;

  }

}
@media (max-width:550px) {
  html{
    font-size: 45%;
  }


  .caixa-noticias h1{
    font-size: 2.5rem;

  }
  #noticia img {
    height: unset !important;
  }

}

@media (max-width:460px) {
  header a{
    font-size: 2rem;
  }
  .caixa-noticias{
    flex-direction: column-reverse;
  }
  .caixa-noticias img{
    height:30vh;
    padding: 0;
    min-width: 88vw;
  }
  footer section{
    flex-direction: column;
    width: 100%;
    align-items: center;
    
  }
  footer section div article{
    border-top: 0.1rem solid gray;
    padding-top: 1.5rem;
    margin-bottom: 0;
  }
  footer section div aside{
    border: none;
    margin: auto;
    width: 250px;
    font-size: 2rem;
  
  }

}

